<div class="col-md-offset-3 col-md-6 col-md-offset-3">
<form class="form-horizontal" method="post" action="create">
  <div class="form-group">
    <div class="col-sm-10">
      <input type="text" id="name" name="name" placeholder="Name" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <textarea name="description" id="description" ></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <input type="text" name="optionone" id="optionone" placeholder="Option One" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10">
      <input type="text" name="optiontwo" id="optiontwo" placeholder="Option Two" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <div class="">
      <button type="submit" class="button btn btn-warning">Create</button>
    </div>
  </div>
</form>
</div>