<div class="card">
  <div class="card-image waves-effect waves-block waves-light">
    <i class="fa fa-hand-trophy fa-3x" aria-hidden="true"></i>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">Counties
    </span>
      {{#if counties}}
      <table class="table table-hover table-condensed table-responsive">
        <thead>
        <tr>
          <th>id</th>
          <th>Name</th>
          </tr>
        </thead>
        <tbody>
      {{#each counties}}
        <tr>
          <td>{{id}}</td>
          <td>{{name}}</td>
        </tr>
      {{/each}}
      </table>
      {{/if}}
  </div>
</div>